In [1187]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'retina'

In [1188]:
df1 = pd.read_csv(r'D:\Seksatta\MKG\summary lizard R&D\pcb_2020.csv')
df2 = pd.read_csv(r'D:\Seksatta\MKG\summary lizard R&D\pcb_2021.csv')

In [1189]:
file_path = r'D:\Seksatta\MKG\summary lizard R&D\pcb_2022.csv'
df3 = pd.read_csv(file_path, encoding='utf-8')

In [1190]:
df = pd.concat([df1,df2, df3], 
          keys=[2020, 2021, 2022])

In [1191]:
df.reset_index(inplace =True)
df.drop(columns = ['level_1'], axis=1, inplace=True)

In [1192]:
df.rename(columns={'level_0':'year'}, inplace=True)

In [1193]:
df['error_code'] = df['Problem'].str.extract(r'(\b\w{2})\s')

In [1194]:
def antmal(x):
    ant_match = re.search(r'\b[Aa]nt\b(?!\s*\band\b)', x)
    lizard_match = re.search(r'\b[Ll][ie](?!\s*\band\b)', x)
    
    if ant_match and lizard_match:
        return 'both'
    elif ant_match:
        return 'ant'
    elif lizard_match:
        return 'lizard'
    else:
        return 'none'

In [1195]:
df['animal'] = df['Visual check'].apply(antmal)

In [1196]:
df.columns

Index(['year', 'MKG No.', 'Parts  and cover page', 'Finished date', 'Period',
       'Part', 'Model', 'Serial', 'Drawing', 'Problem', 'Vender name',
       'Visual check', 'Resitance check', 'Operation check by Jig', 'Judgment',
       '  MKG No.', 'Parts  received from MKG',
       'Finished basic investigation date', 'Send parts to supplier date',
       'Part Name', 'Model Type', 'Resistance check', 'error_code', 'animal'],
      dtype='object')

In [1197]:
df2 = df.loc[:,['year', 'MKG No.', 'Model', 'Serial', 'Drawing', 'error_code', 'animal']]
df2

     year  MKG No.       Model   Serial      Drawing error_code  animal
0    2020   2210.0  2MKC30QVM4  E007339   2P438792-2        NaN     ant
1    2020     75.0   RKQ12TV2S  E007399  2P416384-10        NaN  lizard
2    2020    162.0  FTKQ15TV2S  E006048  2P406592-11        NaN  lizard
3    2020    204.0  FTKQ09TV2S  E002809  2P409592-11         A6     ant
4    2020    144.0  ARKC12RV2S  E009028   2P390290-1         L5  lizard
..    ...      ...         ...      ...          ...        ...     ...
228  2022      NaN   RKZ12VV2S  E002061  2P582816-24        NaN  lizard
229  2022      NaN   RKQ15UV2S  E001163   2P582816-1         L5  lizard
230  2022      NaN   RKQ24UV2S  E007651  2P494704-13         E7  lizard
231  2022      NaN  FTKQ15UV2S  E003301  2P406592-11        NaN  lizard
232  2022      NaN   RZF30CY2S  E002296   2P441033-1         LC  lizard

[233 rows x 7 columns]

In [1198]:
df.groupby(['year','animal'])['Serial'].count()

year  animal
2020  ant       16
      both       3
      lizard    84
2021  both       5
      lizard    93
2022  lizard    32
Name: Serial, dtype: int64

In [1199]:
model = pd.read_csv(r'D:\Seksatta\EQG\dit_info\model2.csv')
model['model_name'] = model['model_name'].str.strip()

In [1200]:
model.columns

Index(['Unnamed: 0', 'model_name', 'i_o', 'base_model', 'group'], dtype='object')

**ข้อมูลจิ้งจก เก็บอยู่ใน df3**

In [1201]:
df2.columns

Index(['year', 'MKG No.', 'Model', 'Serial', 'Drawing', 'error_code',
       'animal'],
      dtype='object')

In [1203]:
df3 = pd.merge(df2, model[['model_name', 'base_model','group', 'i_o']], left_on='Model', right_on='model_name', how='left')

In [1207]:
df3

,year,MKG No.,Model,Serial,Drawing,error_code,animal,model_name,base_model,group,i_o
0,2020,2210.0,2MKC30QVM4,E007339,2P438792-2,NaN,ant,2MKC30QVM4,BMS,RA,o
1,2020,75.0,RKQ12TV2S,E007399,2P416384-10,NaN,lizard,RKQ12TV2S,GSI,RA,o
2,2020,162.0,FTKQ15TV2S,E006048,2P406592-11,NaN,lizard,FTKQ15TV2S,BMS,RA,i
3,2020,204.0,FTKQ09TV2S,E002809,2P409592-11,A6,ant,FTKQ09TV2S,BMS,RA,i
4,2020,144.0,ARKC12RV2S,E009028,2P390290-1,L5,lizard,ARKC12RV2S,GSI,RA,o
...,...,...,...,...,...,...,...,...,...,...,...
228,2022,NaN,RKZ12VV2S,E002061,2P582816-24,NaN,lizard,RKZ12VV2S,BMS,RA,o
229,2022,NaN,RKQ15UV2S,E001163,2P582816-1,L5,lizard,RKQ15UV2S,BMS,RA,o
230,2022,NaN,RKQ24UV2S,E007651,2P494704-13,E7,lizard,RKQ24UV2S,SF2,RA,o
231,2022,NaN,FTKQ15UV2S,E003301,2P406592-11,NaN,lizard,FTKQ15UV2S,BMS,RA,i
232,2022,NaN,RZF30CY2S,E002296,2P441033-1,LC,lizard,RZF30CY2S,BML-C,SKY,o

In [ ]:
df3.groupby()

In [ ]:
aoq1 = pd.read_csv(r'D:\Seksatta\MKG\summary lizard R&D\AOQ-VIS 010120-311223\aoq1.csv')
aoq2 = pd.read_csv(r'D:\Seksatta\MKG\summary lizard R&D\AOQ-VIS 010120-311223\aoq2.csv')
aoq3 = pd.read_csv(r'D:\Seksatta\MKG\summary lizard R&D\AOQ-VIS 010120-311223\aoq3.csv')

In [ ]:
df = pd.concat([aoq1, aoq2, aoq3], keys=[1,2,3])

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.drop(columns = ['level_0', 'level_1'], inplace =True)

In [ ]:
df.columns

In [ ]:
df.drop_duplicates(subset = ['FAC_MODEL', 'FAC_SERIAL'], inplace=True)

In [ ]:

df['SYMPTOM_DESC']=df['SYMPTOM_DESC'].str.replace(r'\b[dD]oest', 'Does', regex= True)
df['SYMPTOM_DESC']=df['SYMPTOM_DESC'].str.replace(r' /', '/', regex= True)
df['SYMPTOM_DESC']=df['SYMPTOM_DESC'].str.replace(r' /', '/', regex= True).str.rstrip('.')
df['SYMPTOM_DESC']=df['SYMPTOM_DESC'].str.replace(r'A/C', '', regex= True)
df['SYMPTOM_DESC']=df['SYMPTOM_DESC'].str.strip()
df['SYMPTOM_DESC']=df['SYMPTOM_DESC'].str.upper()
df['SYMPTOM_DESC']=df['SYMPTOM_DESC'].str.replace(r'10 :  DOES NOT OPERATE', '10 : DOES NOT OPERATE', regex= False)

In [ ]:
df = df[df['FAILURE_PART_DESC_FINAL'].str.contains(r'\bPCB\b', case=False, regex=True)]

In [ ]:
df['SYMPTOM_DESC'].value_counts()

In [ ]:
df.columns

In [ ]:
def get_top_5(group):
    return group.nlargest(5, 'COUNT')

In [ ]:
df.groupby(['FY_OF_CLAIM', 'SYMPTOM_DESC'])['FAC_SERIAL'].count().reset_index()

In [ ]:
g= df.groupby(['FY_OF_CLAIM', 'SYMPTOM_DESC'])['FAC_SERIAL'].count().reset_index()

In [ ]:
top4 = g.groupby('FY_OF_CLAIM').apply(lambda x: x.nlargest(4, 'FAC_SERIAL'))

In [ ]:
pivot = top4.pivot(index='FY_OF_CLAIM', columns='SYMPTOM_DESC', values='FAC_SERIAL').fillna(0)

In [ ]:
pivot

In [ ]:
ax = pivot.plot(kind='bar', stacked=True, figsize=(10, 7))

plt.ylabel('Quantity of Claim')
plt.title('PCB Failure groupby Claim Year')

plt.show()

In [ ]:
plt.savefig('stacked_bar_plot.jpeg')

In [ ]:
df3

In [ ]:
g = df3.groupby(['year','animal'])['Serial'].count().reset_index()

In [ ]:
pivot = pd.pivot_table(g, index='year', columns='animal', values='Serial', aggfunc='sum', fill_value=0, margins=True, margins_name='Total')

In [ ]:
pivot

In [ ]:
pivot.plot(kind='bar', stacked=True, figsize=(10,7))
plt.title("Ant and Lizard Infestation/Invasion")
plt.ylabel("Qty")