In [143]:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [144]:
# Load the Excel file
file_path = 'atm-report (7).xlsx'
df = pd.read_excel(file_path)

In [145]:
df.columns

Index(['Jira.Project', 'Execution.Key', 'Execution.Assigned To',
       'Execution.Type', 'Execution.Execution Date', 'Execution.Actual',
       'Execution.Estimated', 'Execution.Result', 'Execution.Environment',
       'Execution.Linked Issues', 'Execution.Count of Linked Issues',
       'Execution.Error message', 'Test Cycle.Key', 'Test Cycle.Name',
       'Test Cycle.Description', 'Test Cycle.Folder', 'Test Cycle.Status',
       'Test Cycle.Version', 'Test Cycle.Owner',
       'Test Cycle.Planned Start Date', 'Test Cycle.Planned End Date',
       'Test Cycle.Platform', 'Test Cycle.Brand', 'Test Cycle.Mobile model',
       'Test Cycle.OS version', 'Test Cycle.Language', 'Test Cycle.SSID',
       'Test Cycle.Wi-Fi Adapter', 'Test Cycle.Firmware version',
       'Test Cycle.Unit Type', 'Test Cycle.Unit Model', 'Test Cycle.Router',
       'Test Cycle.Server', 'Test Cycle.Server version', 'Test Cycle.At Home',
       'Test Cycle.Application version', 'Test Case.Key', 'Test Case.Name',
       'Test Case.Component', 'Test Case.Owner', 'Test Case.Created By',
       'Test Case.Created On', 'Test Case.Version', 'Test Case.Estimated',
       'Test Case.Objective', 'Test Case.Precondition', 'Test Case.Status',
       'Test Case.Folder', 'Test Case.Labels', 'Test Case.Priority',
       'Test Case.Traceability.Issue', 'Test Case.Traceability.Weblink',
       'Test Case.Test case type', 'Test Case.Scenario name'],
      dtype='object')

# Cleaning up data  
ทำการเปลี่ยนชื่อ columns ที่ต้องการใช้งานเท่านั้นให้ไม่มีช่องว่างจะทำให้เวลาอ้างอิงทำได้ง่ายขึ้น

In [146]:
df.rename(columns = {'Test Cycle.OS version':'os_version',
                    'Test Cycle.Mobile model':'mobile_model', 
                    'Test Cycle.Brand':'mobile_brand', 
                    'Test Cycle.Unit Type': 'ac_group', 
                    'Test Cycle.Unit Model': 'ac_model',
                    'Execution.Result': 'test_result',
                    'Test Case.Name' : 'test_program'
                    },
          inplace=True
          
         )

ทำการตรวจสอบว่า column ที่ทำการเปลี่ยนชื่อ ได้ทำการเปลี่ยนแล้วหรือยัง

In [147]:
selected_columns = ['os_version', 'mobile_model', 'mobile_brand', 'ac_group', 'ac_model', 'test_result', 'test_program']

In [148]:
df2 = df.loc[:, selected_columns]

ทำการรวม model group กับ model เข้าไปด้วยกัน ให้เป็น model_group (model) แล้วไปสร้างเป็น column ใหม่ชื่อว่า model_group

In [149]:
df2['ac_group_model'] = df2.ac_group + " ("  + df.ac_model  + ")"

In [150]:
g = df2.groupby(['mobile_model', 'ac_group_model'])['test_result']

ทำการหา key ใน level ที่1 และ level ที่ 2 มาเก็บไว้เป็น list โดยค่าจะต้องเป็นค่าที่ไม่ซ้ำกับตัวอื่นๆ (unique)

In [151]:
models = []
ac_models = []

In [152]:

for k1,k2 in g.groups.keys():
    models.append(k1)
    ac_models.append(k2)

ทำให้เป็น unique

In [153]:
models = list(set(models))
ac_models = list(set(ac_models))

In [154]:
result_data= []
count = 0

In [155]:
for model in models:
    for ac_model in ac_models:
        count = count + 1
        try:
            if g.get_group((model,ac_model)).str.contains('Pass').all():
                result = 'Pass'
            else:
                result = 'Fail'
        except Exception as e:
            
            result = np.nan
        # เอาไว้แค่ดูผลลัพธ์
        print(f'{model} {ac_model} {result}') 
        # เอาผลลัพธ์ที่ได้ไปใส่ไว้ใน Dictionary
        result_data.append({'mobile_model': model, 'ac_group_model': ac_model, 'test_result':result })

Pixel 7 RA (MCB80) nan
Pixel 7 RA (FTXM60UVMZ) nan
Pixel 7 CJ (MCB80) nan
Pixel 7 RA-ZETA (FTXM71YVLT) Fail
Pixel 8 RA (MCB80) nan
Pixel 8 RA (FTXM60UVMZ) nan
Pixel 8 CJ (MCB80) nan
Pixel 8 RA-ZETA (FTXM71YVLT) Fail
ROG Phone 2 RA (MCB80) Pass
ROG Phone 2 RA (FTXM60UVMZ) nan
ROG Phone 2 CJ (MCB80) nan
ROG Phone 2 RA-ZETA (FTXM71YVLT) nan
Galaxy S23 Ultra RA (MCB80) nan
Galaxy S23 Ultra RA (FTXM60UVMZ) nan
Galaxy S23 Ultra CJ (MCB80) Fail
Galaxy S23 Ultra RA-ZETA (FTXM71YVLT) nan
Mi Pad 4 Plus RA (MCB80) nan
Mi Pad 4 Plus RA (FTXM60UVMZ) Fail
Mi Pad 4 Plus CJ (MCB80) nan
Mi Pad 4 Plus RA-ZETA (FTXM71YVLT) nan

 ทำการสร้าง dataframe 3 ขึ้นมาจากผลลัพธ์ **result_data**

In [156]:
df3 = pd.DataFrame(result_data)

In [157]:
pivot_table = df3.pivot_table(index='mobile_model', columns='ac_group_model', values='test_result', aggfunc='first')

In [158]:
pivot_table

ac_group_model   CJ (MCB80) RA (FTXM60UVMZ) RA (MCB80) RA-ZETA (FTXM71YVLT)
mobile_model
Galaxy S23 Ultra       Fail             NaN        NaN                  NaN
Mi Pad 4 Plus           NaN            Fail        NaN                  NaN
Pixel 7                 NaN             NaN        NaN                 Fail
Pixel 8                 NaN             NaN        NaN                 Fail
ROG Phone 2             NaN             NaN       Pass                  NaN