# Date and Time

### Timedelta

In [180]:
from datetime import timedelta
delta = timedelta(
    days=50,
    seconds=27,
    microseconds=10,
    milliseconds=29000,
    minutes=5,
    hours=8,
    weeks=2
)

In [181]:
delta

datetime.timedelta(days=64, seconds=29156, microseconds=10)

In [182]:
year = timedelta(days=365)
another_year = timedelta(weeks=40, days=84, hours=23)
year == another_year
year.total_seconds()

31536000.0

In [183]:
year = timedelta(days=365)
ten_years = 10 * year
ten_years

datetime.timedelta(days=3650)

In [184]:
nine_years = ten_years - year
nine_years

datetime.timedelta(days=3285)

### date
class datetime.**date**(year, month,day)  
- MINYEAR <= year <= MAXYEAR- 
1 <= month <= 1- 

1 <= day <= number of days in the given month and year

#### today
date.today()

In [185]:
date.today()

datetime.date(2024, 4, 9)

#### day month year

In [186]:
mydate = date(2024,12,1)

In [187]:
from datetime import date
mydate= date(2024,12,1)

In [188]:
mydate.day

1

In [189]:
mydate.month

12

In [190]:
mydate.year

2024

#### ISO 8601

In [191]:
from datetime import date

In [192]:
date.fromisoformat('2019-12-04')

datetime.date(2019, 12, 4)

In [193]:
date.fromisoformat('20191204')

datetime.date(2019, 12, 4)

#### Resolution
จะเป็นการตรวจสอบว่าสอบว่ายังอยู่ในวันเดียวกันหรือไม่ ในกรณีที่แตกต่างกันอยู่ในระดับวินาที (น้อยกว่าวัน)

In [194]:
resolution = date.resolution
resolution

datetime.timedelta(days=1)

example

In [195]:
from datetime import date, datetime
dt1 = datetime(2024,2,1)
dt2 = datetime(2024,1,1,12,30)

In [196]:
dt1 - dt2

datetime.timedelta(days=30, seconds=41400)

In [197]:
if abs(dt1 - dt2) < resolution:
    print('equal')
else:
    print('not')

not

#### timetuple()

In [198]:
from datetime import date
date = date(1941,12,7)
my_titmetuple = date.timetuple()

time.struct_time(tm_year=1941, tm_mon=12, tm_mday=7, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=341, tm_isdst=-1)

In [199]:
my_timetup

NameError: name 'time_tuple' is not defined

#### replace

In [ ]:
from datetime import date
date1 = date(2024,12,1)
date1.replace(day=5)

In [ ]:
date1.replace(year=2027)

In [ ]:
date1.replace(year=2025, month=11, day=14)

#### weekday
- weekday() monday return 0 sunday return 6
- isoweekday() monday return 1 sunday return 7

Example is monday

In [ ]:
now = date(2024,4,9)
now.weekday()

In [ ]:
now = date(2024,4,9)
now.isoweekday()

#### Time String format
https://strftime.org

In [ ]:
now = date(2024,4,9)

In [ ]:
now.strftime('%d%m%')

In [ ]:
now.strftime('%d/%m/%Y')

In [ ]:
now.strftime('%b-%y')

จะทำการ return ค่าออกกมาเป็น string

In [ ]:
type(now.strftime('%d/%m/%Y'))

สามารถที่จะสร้าง string ได้จาก date

In [ ]:
date = date(2024,12,1)
date_str = date.strftime('%b-%y')
date_str

#### supported opearation 
date2 = date1 + timedelta

`date2 = date1 + timedelta`

In [ ]:
from datetime import date, timedelta
date1 = date(2024,12,1)
date2 = date1 + timedelta(days=3)
date2

`date2 = date1 - timedelta`

In [ ]:
from datetime import date, timedelta
date1 = date(2024,12,1)
date2 = date1 - timedelta(days=125)
date2

`timedelta = date1 - date2`

In [ ]:
from datetime import date, timedelta
date1 = date(2024,12,1)
date2 = date(2024,12,27)
timedelta = date2 - date1
timedelta

comparison
จะเป้นการนำวันทั้งสองมาทำการเปรียบเทียบตามเงื่อนไขที่กำหนดไว้และทำการ return ออกมาเป็น boolean (True False)
date1 == date2  
date2 != date2

- date1 < date2
- date1 > date2
- date1 <= date2
- date1 >= date2

In [ ]:
date2 == date2

In [ ]:
date2 == date1

In [ ]:
date2 > date1

In [ ]:
date1 >= date2

In [ ]:
from datetime import date, timedelta
date1 = date(1941,12,7)
date2 = date(1945,8,15)
timedelta = date2 - date1
timedelta

In [ ]:
diff_year = date2.year - date1.year
diff_month = date2.month - date1.month
total_diff_month = (diff_year)*12 + diff_month
total_diff_month

### datetime

#### now 
1. datetime.now()

In [ ]:
from datetime import datetime
datetime.now()

#### ISO 8601