In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('gapminder.csv')
df[:20]

        country  year continent  lifeExp       pop    gdpPercap
0   Afghanistan  1952      Asia   28.801   8425333   779.445314
1   Afghanistan  1957      Asia   30.332   9240934   820.853030
2   Afghanistan  1962      Asia   31.997  10267083   853.100710
3   Afghanistan  1967      Asia   34.020  11537966   836.197138
4   Afghanistan  1972      Asia   36.088  13079460   739.981106
5   Afghanistan  1977      Asia   38.438  14880372   786.113360
6   Afghanistan  1982      Asia   39.854  12881816   978.011439
7   Afghanistan  1987      Asia   40.822  13867957   852.395945
8   Afghanistan  1992      Asia   41.674  16317921   649.341395
9   Afghanistan  1997      Asia   41.763  22227415   635.341351
10  Afghanistan  2002      Asia   42.129  25268405   726.734055
11  Afghanistan  2007      Asia   43.828  31889923   974.580338
12      Albania  1952    Europe   55.230   1282697  1601.056136
13      Albania  1957    Europe   59.280   1476505  1942.284244
14      Albania  1962    Europe   64.820   1728137  2312.888958
15      Albania  1967    Europe   66.220   1984060  2760.196931
16      Albania  1972    Europe   67.690   2263554  3313.422188
17      Albania  1977    Europe   68.930   2509048  3533.003910
18      Albania  1982    Europe   70.420   2780097  3630.880722
19      Albania  1987    Europe   72.000   3075321  3738.932735

In [4]:
df.shape

(1704, 6)

In [5]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   year       1704 non-null   int64
 2   continent  1704 non-null   object
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 240.2 KB

In [6]:
df.memory_usage(deep=True)

Index          132
country      97728
year         13632
continent    93552
lifeExp      13632
pop          13632
gdpPercap    13632
dtype: int64

In [7]:
df['country_cat'] = df.country.astype('category')
df

          country  year continent  lifeExp       pop   gdpPercap  country_cat
0     Afghanistan  1952      Asia   28.801   8425333  779.445314  Afghanistan
1     Afghanistan  1957      Asia   30.332   9240934  820.853030  Afghanistan
2     Afghanistan  1962      Asia   31.997  10267083  853.100710  Afghanistan
3     Afghanistan  1967      Asia   34.020  11537966  836.197138  Afghanistan
4     Afghanistan  1972      Asia   36.088  13079460  739.981106  Afghanistan
...           ...   ...       ...      ...       ...         ...          ...
1699     Zimbabwe  1987    Africa   62.351   9216418  706.157306     Zimbabwe
1700     Zimbabwe  1992    Africa   60.377  10704340  693.420786     Zimbabwe
1701     Zimbabwe  1997    Africa   46.809  11404948  792.449960     Zimbabwe
1702     Zimbabwe  2002    Africa   39.989  11926563  672.038623     Zimbabwe
1703     Zimbabwe  2007    Africa   43.487  12311143  469.709298     Zimbabwe

[1704 rows x 7 columns]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   country        1704 non-null   object
 1   year           1704 non-null   int64
 2   continent      1704 non-null   object
 3   lifeExp        1704 non-null   float64
 4   pop            1704 non-null   int64
 5   gdpPercap      1704 non-null   float64
 6   country_cat    1704 non-null   category
 7   continent_cat  1704 non-null   category
dtypes: category(2), float64(2), int64(2), object(2)
memory usage: 90.4+ KB

In [9]:
df.memory_usage(deep=True)

Index            132
country        97728
year           13632
continent      93552
lifeExp        13632
pop            13632
gdpPercap      13632
country_cat    15720
dtype: int64

In [10]:
df.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [11]:
df.continent.unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [12]:
df['continent_cat']= df.continent.astype('category')

In [13]:
df.memory_usage(deep=True)

Index              132
country          97728
year             13632
continent        93552
lifeExp          13632
pop              13632
gdpPercap        13632
country_cat      15720
continent_cat     2152
dtype: int64

In [14]:
df1=pd.read_csv('gapminder.csv',
              dtype={'country':'category','continent':'category','year':'category'})
df1.memory_usage(deep = True)

Index          132
country      11552
year          2340
continent     2152
lifeExp      13632
pop          13632
gdpPercap    13632
dtype: int64

In [15]:
df1.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   category
 1   year       1704 non-null   category
 2   continent  1704 non-null   category
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: category(3), float64(2), int64(1)
memory usage: 55.7 KB