# Lamda
เป็นฟังก์ชั่นที่ไม่มีชื่อ จะสามารถเป็นอะไรก็ ข้อดีของมันก็คือ มันเร็ว เหมาะสำหรับ function ง่าย ใช้แค่ครั้งเดียว  
ทำความเข้าใจโค้ดได้ง่ายขึ้น

มาลองแบบฟังก์ชั่นปกติ

In [1]:
def cel2fah(c):
    return ((c*(9/5)) + 32 )

In [2]:
cel2fah(10)

50.0

มาลองเขียนแบบ Lambda

In [3]:
lambda c: ((c*(9/5)) + 32)

มันจะต้องกำหนดให้ว่าจะต้อง**ส่งค่ากลับมาที่ ตัวแปร** ในกรณีนี้ก็คือ c2f

In [4]:
c2f = lambda c: ((c*(9/5)) + 32)

In [6]:
c2f(50)

122.0

มาลองใช้งานกับ list

In [8]:
t= [0,10,20,30,40,50]

In [10]:
f2 = map(lambda c: c * 9/5 + 32 , t)
list(f2)

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [15]:
rectangle= lambda w,h: w*h

In [16]:
rectangle(5,10)

50

In [22]:
import pandas as pd
df = pd.DataFrame({'celcius':t})
df

   celcius
0        0
1       10
2       20
3       30
4       40
5       50

เขียนแบบปกติ

In [24]:
df.celcius * ((9/5) + 32)

0       0.0
1     338.0
2     676.0
3    1014.0
4    1352.0
5    1690.0
Name: celcius, dtype: float64

เขียนโดยใช้ Function lamba

In [25]:
df.celcius.map(lambda c: (c*(9/2))+32)

0     32.0
1     77.0
2    122.0
3    167.0
4    212.0
5    257.0
Name: celcius, dtype: float64

ต่างกันที่แบบที่ใช้ lamba มันจะเร็วกว่าโคตร

## Lamda 2
`map()`  สามารถที่จะทำงานได้ทั้ง series และ dataframe (เฉพาะใน version เก่าๆ เท่านั้นจะทำได้เฉพาะ series)
`apply()` จะใช้งานกับ DataFrame
การตั้งค่า axis =1 จะเป็นการกำหนดให้เครื่องทำงานจากบนลงล่าง
axis = 0 จะกำหนดให้เป็นการทำงานจากซ่ายไปขวา

In [35]:
df = pd.read_table('applicant.tsv')
df.shape

(10, 4)

In [36]:
df

  applicantID  eng  math  interview
0        A432   91    97         83
1        C747   94    94         58
2        C751   74    55         89
3        B716   63    89         93
4        A623   90    73         81
5        B394   76    91         90
6        A294   90    86         94
7        B318   62    57         55
8        B164   79    57         89
9        A126   89    82         85

In [37]:
df.eng.map(lambda s: 'pass' if s>= 80 else 'fail')

0    pass
1    pass
2    fail
3    fail
4    pass
5    fail
6    pass
7    fail
8    fail
9    pass
Name: eng, dtype: object

In [38]:
df.apply(lambda s: 'pass' if s.eng >= 80 and s.math >=75 else 'fail', axis=1  )

0    pass
1    pass
2    fail
3    fail
4    fail
5    fail
6    pass
7    fail
8    fail
9    pass
dtype: object

In [41]:
df['math_eng'] = df.apply(lambda s: 'pass' if s.eng >= 80 and s.math >=75 else 'fail', axis=1  )
df

  applicantID  eng  math  interview math_eng
0        A432   91    97         83     pass
1        C747   94    94         58     pass
2        C751   74    55         89     fail
3        B716   63    89         93     fail
4        A623   90    73         81     fail
5        B394   76    91         90     fail
6        A294   90    86         94     pass
7        B318   62    57         55     fail
8        B164   79    57         89     fail
9        A126   89    82         85     pass

In [42]:
df.apply(lambda s: s.eng * .5 + s.math * .3 + s.interview *.2 , axis=1)

0    91.2
1    86.8
2    71.3
3    76.8
4    83.1
5    83.3
6    89.6
7    59.1
8    74.4
9    86.1
dtype: float64

In [44]:
df['score'] = df.apply(lambda s: s.eng * .5 + s.math * .3 + s.interview *.2 , axis=1)
df

  applicantID  eng  math  interview math_eng  score
0        A432   91    97         83     pass   91.2
1        C747   94    94         58     pass   86.8
2        C751   74    55         89     fail   71.3
3        B716   63    89         93     fail   76.8
4        A623   90    73         81     fail   83.1
5        B394   76    91         90     fail   83.3
6        A294   90    86         94     pass   89.6
7        B318   62    57         55     fail   59.1
8        B164   79    57         89     fail   74.4
9        A126   89    82         85     pass   86.1

In [45]:
%timeit -n100 df['score'] = df.apply(lambda s: s.eng * .5 + s.math * .3 + s.interview *.2 , axis=1)

567 µs ± 69.3 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)